/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.phar
public/.DS_Store
resources/.DS_Store
composer.lock
ideas.blade copy.php
appp copy.scss
public.zip