.sinpadding [class*=col-] {
  padding: 0;
}

.imgmh {
  height: 100%;
}

.seccion1 {
  position: relative;
  display: inline-block;
  text-align: center;
  align-content: center;
}

.titulo {
  width: 100%;
  height: 70%;
}

.subtitulo {
  position: absolute;
  top: 26%;
}

.seccion2 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 720px) {
  .mobile {
    display: none;
  }
}

